
      <div class="card">
        <table class="table text-white" >
          <thead >
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
            </tr>
            </thead>
            <tbody id="myTable" *ngFor="let card of cards;index as i">
              <tr *ngIf="i<=2">
                <td>{{card.title}}</td>
                <td>{{card.description}}</td>  
                <td><a routerLink="/mytaskdetail" class="viewmorebtn1"><b>Detail</b> <i class="bi bi-arrow-right"></i></a></td>             
              </tr>
             
            </tbody>
        </table>
      </div>


       
       


     





 
