<!-- 
    <h3 class="text-white">My Tasks</h3>
    <div id="accordion" >
        <div class="card" *ngFor="let card of cards">
            
            <a routerLink="/mytaskdetail" class="btn btn-fix text-left">
                <div class="card-header" id="headingThree">
                    <h5 class="card-title">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          {{card.title}}<i class="fa fa-angle-down"></i>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body text-white">
                      {{card.description}}
                    </div>
                  </div>
              
            </a>
        </div> 
       
    
      </div> -->
      <div class="card">
        <table class="table text-white" >
          <thead >
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
            </tr>
            </thead>
            <tbody id="myTable" *ngFor="let card of cards;index as i">
              <tr *ngIf="i<=2">
                <td>{{card.title}}</td>
                <td>{{card.description}}</td>  
                <td><a routerLink="/mytaskdetail" class="viewmorebtn1"><b>Detail</b> <i class="bi bi-arrow-right"></i></a></td>             
              </tr>
             
            </tbody>
        </table>
      </div>


       
       


     





 
