<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/pony.jpg" width="50px" height="200px"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/laptop.jpg" width="50px" height="200px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/MicrosoftTeams-imag.jpg" width="50px" height="200px"  class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br>
<div class="card" >
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Info</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Rules</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">            
            Leaderboard
           </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="winner-tab" data-bs-toggle="tab" data-bs-target="#winner-tab-pane" type="button" role="tab" aria-controls="winner-tab-pane" aria-selected="false">
                
              Winners
             </button>
          </li>
       
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="card">
             
                <div class="card-body">
                 
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="card">
                
                <div class="card-body">
                    <input type="text" value ="today();" id="datepicker"/>
                </div>
              </div>
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            
        </div>
        <div class="tab-pane fade" id="winner-tab-pane" role="tabpanel" aria-labelledby="winner-tab" tabindex="0">
            
        </div>
       
      </div>
</div>


